.title-container {
  margin-bottom: 24px;
}

.title {
  margin: 0;
}

.press-email {
  color: white;
}

.press-button {
  height: 46px;
  border: none;
  background-color: white;
  color: #FF1055;
  font-weight: 800;
  font-size: 17px;
  position: relative;
  padding: 13px 12px;
  outline: none;
}

.press-button:hover {
  cursor: pointer;
}

.press-text {
  font-weight: 900;
  text-align: center;
  /*margin-bottom: 44px;*/
  margin-bottom: 364px;
}
